<%- include("../partials/header.ejs") %>


<div class="container mt-5">
    
    
    
    <form action="/campgrounds" method="POST">
        
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Image URL</label>
            <input name="image" type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input name="description" type="text" class="form-control" id="description">
        </div>
        
        <button type="submit" class="btn btn-success">Submit</button>
        
        <a class="btn btn-danger" href="/campgrounds">Cancel</a>
        
        
        
    </form>
</div>


<%- include("../partials/footer.ejs") %>