<%-     include("./partials/header.ejs")     %>


<div class="container">
    
    
<form class="form-group mt-5" action="/register" method="post">
    
    <input class="form-control" type="text"  name="username"  placeholder="Username"  >
    <input class="form-control" type="password"  name="password" placeholder="Password"  >

    <button class="btn btn-success" >Login</button>

</form>



</div>



<%-     include("./partials/footer.ejs")     %>