<%- include("./partials/header.ejs") %>






<form class="form-group" action="/login" method="POST">


    <input class="form-control" type="text" name="username" placeholder="User Name">
    <input class="form-control" type="password" name="password" placeholder="Password">

    <button type="submit" class="btn btn-primary" >Submit</button>




</form>


















<%- include("./partials/footer.ejs") %>