<%-   include ("partials/header.ejs")      %>



<div class="container mt-3">





   <form action="/blogs" method="POST">

  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input name="title" type="text" class="form-control" id="inputTitle">
  </div>


  <div class="form-group">
    <label for="inputImage">Image Url</label>
    <input  name="image" type="text" class="form-control" id="inputTitle">
  </div>
  
  
  
  <div class="form-group">
      <label for="message">Content</label>
      <textarea class="form-control" rows="4" id="message" name="content" style="width: 90%;border-radius: 3px;"></textarea>
    </div>
    
    <!-- <div class="form-group">
      <label for="inputDate">Date</label>
      <input  name="date" type="date" class="form-control" id="inputTitle" value="<%=Date.now()%>" >
    </div> -->



  <button type="submit" class="btn btn-primary">Submit</button>
</form>














</div>



<%-   include ("partials/footer.ejs")      %>