<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Yelp Camp</title>
  </head>
  <body>


    <!-- ___________________________________________________________Nav Bar_________________________________________________________ -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mb-4">
      <a class="navbar-brand text-danger" href="/">Yelp Camp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>

              <!-- ======================================================================================================================== -->
              <%if(!currentUser){%>
              <li class="nav-item active">
                  <a class="nav-link" href="/register">Sign Up<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/login">Log In<span class="sr-only">(current)</span></a>
              </li>
            <%}else{%>
              <li class="nav-item active">
                  <a class="nav-link" href="/logout">Log Out<span class="sr-only">(current)</span></a>
              </li>
              <a href="#">Loged In as <%=currentUser.username%></a>
            <%}%>
              <!-- ================================================================================================================================ -->
          </ul>






          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

          <div class="mx-3">

              <!-- Log In -->
              <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#logIn">
                  Log In
              </button> -->

              <!-- Log In Modal -->
              <div class="modal fade" id="logIn" data-backdrop="static" data-keyboard="false" tabindex="-1"
                  role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Enter Details to Log In</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <form>
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Email address</label>
                                      <input type="email" class="form-control" id="exampleInputEmail1"
                                          aria-describedby="emailHelp">
                                      <small id="emailHelp" class="form-text text-muted">We'll never share your email
                                          with anyone else.</small>
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputPassword1">Password</label>
                                      <input type="password" class="form-control" id="exampleInputPassword1">
                                  </div>
                                  <div class="form-group form-check">
                                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                                  </div>
                                  <button type="submit" class="btn btn-primary">Log In</button>
                                  <a href="#">Forgot Password</a>
                              </form>
                          </div>

                      </div>
                  </div>
              </div>





              <!-- Sign Up -->
              <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signUp">
                  Sign Up
              </button> -->

              <!-- Sign UP Modal -->
              <div class="modal fade" id="signUp" data-backdrop="static" data-keyboard="false" tabindex="-1"
                  role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Enter Details to Sign Up</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <form>
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Email address</label>
                                      <input type="email" class="form-control" id="exampleInputEmail1"
                                          aria-describedby="emailHelp">
                                      <small id="emailHelp" class="form-text text-muted">We'll never share your email
                                          with anyone else.</small>
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputPassword1">Password</label>
                                      <input type="password" class="form-control" id="exampleInputPassword1">
                                  </div>
                                  <div class="form-group form-check">
                                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                                  </div>
                                  <button type="submit" class="btn btn-primary">Sign Up</button>
                                  <span>Already Have Account?</span> <a href="#">Log In</a>
                              </form>
                          </div>

                      </div>
                  </div>
              </div>
          </div>

      </div>


  </nav>



<div class="container">

    <% if(flashMessageError && flashMessageError.length > 0 ){ %>
        <div class="alert alert-danger" role="alert">
            <%=flashMessageError%>
        </div>
        <%}%>
        
        
    <% if(flashMessageSuccess && flashMessageSuccess.length > 0 ){ %>
    <div class="alert alert-success" role="alert">
        <%=flashMessageSuccess%>
    </div>
    <%}%>
    
    
</div>
    
    