<%- include("./partials/header.ejs") %>





<div class="container">
    
    
    <h1 style="text-align: center;">Welcome to Yelp Camp</h1>
    
    <div class="container">
        
        <center>
            <a style = "margin-top: 200px"  class="btn btn-danger" type="button" href="/campgrounds">Go to Campgrounds</a>
        </center>
    </div>
    
    
    
</div>

<%- include("./partials/footer.ejs") %>