<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNbqnsBWyvOVAdBHMu0Pv9rq96swFTbx6cxQ&usqp=CAU">
    <title>Password Manager</title>
  </head>
  <body>

<!-- 
    <div class="jumbotron">

      <h1>Hello From Header</h1>
    </div> -->

    <div class="container">

      <%  if( flashMessageSuccess.length > 0  ){  %>

      <div class="alert alert-success" role="alert">
        <%=  flashMessageSuccess  %>
      </div>

      <%}%>



    </div>






